.ant-modal-content{
  background-color: #D9D9D9 !important;
}
.ant-modal-title{
  background-color: #D9D9D9 !important;
  text-align: center;
}
 .form-control{
  background-color: #F8FAFC !important;
 }