.button-descuento{
  background-color: "white";
  color: "black"; 
  border: 3px solid #33384C;
  border-radius: 7px
}

p{
  margin-bottom: 0 !important;
}

.text{
  width: 200px;
  text-align: end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  
}

.ant-steps-item-title:after {
  background-color: #6A7580 !important;
  height: 0.5rem !important;
  margin: 0 !important;
}
.ant-steps-horizontal {
  width: 50% !important;
  margin-left: 25% !important;
}
.ant-steps-item-icon{
  margin: 0 !important;
}

.col3::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.col3 {
  -ms-overflow-style: none;
}

.p {
  font-weight: bold;
}

